extends layout

block content
  h1 Mountains
  html
  body
    table.table.table-striped
      thead
        tr
          th Mountain
          th Country
          th Height (m)
          th 
      tbody
        each val in datas
          tr
            td= val.Mountain
            td= val.Country
            td= val.Height
            td
              a.btn.btn-warning(href=`/mountains/details/${val.id}` role='button') Details 
