<div>
  {{OneMountain || json}}
</div>

<!--<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Mountain</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="table">
        <tbody>
          <tr>
            <th>Mountain</th>
            <td>{{OneMountain.Mountain}}</td>
          </tr>
          <tr>
            <th>Heigth (m)</th>
            <td>{{OneMountain.Height}}</td>
          </tr>
          <tr>
            <th>Range</th>
            <td>{{OneMountain.Range}}</td>
          </tr>
          <tr>
            <th>Region</th>
            <td>{{OneMountain.Region}}</td>
          </tr>
          <tr>
            <th>Country</th>
            <td>{{OneMountain.Country}}</td>
          </tr>
          <tr>
            <th>First Ascent</th>
            <td>{{OneMountain.FirstAscent}}</td>
          </tr>
          <tr>
            <td>
              <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </td>
          </tr>

        </tbody>
      </div>
    </div>
  </div>
</div>-->
