<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Mountains</h1>
    </div>
    <div class="d-flex justify-content-between">
      <div class="col-3 hovereffect"><img
          src="./../../../assets/img/Jungfraujoch-s.jpg" alt="jungfrau"
          class="rounded img"></div>
      <div class="overlay">
        <h2>Jungfrau</h2>
      </div>
      <div class="col-3 hovereffect"><img
          src="./../../../assets/img/matterhorn_s.jpg" alt="matterhorn"
          class="rounded img"></div>
      <div class="overlay">Matterhorn</div>
    </div>
  </div>
</div>
